.bi {
    padding: 5px;
}

.buttons {
    visibility: hidden;
    /* display: none; */
}

.row:hover > .buttons {
    visibility: visible;
    /* display: block; */
}

/* custom classes */
.clickable {
    cursor: pointer;
}
.strike {
    text-decoration: line-through;
}