<div class="row">
    <div class="col">
        <h5>Login to access your dashboard</h5>
        <form (submit)="handleSubmit()">
            <div class="mb-3">
                <label for="customerEmail" class="form-label">Email address</label>
                <input autofocus type="email" class="form-control" id="customerEmail" name="customerEmail" [(ngModel)]="email">
            </div>
            <div class="mb-3">
                <label for="customerPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="customerPassword" name="customerPassword" [(ngModel)]="password">
            </div>
            <button class="btn btn-primary">Login</button>

            <p class="lead text-danger">{{errorMessage}}</p>
        </form>
    </div>

    <div class="col">
        <!-- dummy column -->
    </div>
</div>


