<div class="row">
    <div class="col">
        <img [src]="'//localhost:8080'+product.picture" [alt]="product.description" class="img-thumbnail">
    </div>
    <div class="col">
        <h3>{{ product.description }}</h3>

        <table class="table">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <td>Quantity per unit</td>
                    <td>{{ product.quantity_per_unit }}</td>
                </tr>
                <tr>
                    <td>Unit price</td>
                    <td>
                        <del>{{ product.unit_price | currency : 'INR' }}</del>
                        <span class="lead">
                            {{ product.unit_price * (100-product.discount)/100 | currency: 'INR'}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>{{ product.category }}</td>
                </tr>
                <tr>
                    <td>Brand</td>
                    <td>{{ product.brand }}</td>
                </tr>
            </tbody>
        </table>

        <app-add-to-cart-button [product]="product"></app-add-to-cart-button>

    </div>
</div>