<div class="alert alert-primary">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    <span routerLink="/" class="mouse-pointer">
                        <i class="bi bi-shop"></i>
                        &nbsp;
                        <em>e</em>Shoppe</span>
                </h1>
            </div>
            <div class="col text-end">
               <div>
                    <span *ngIf="!userService.loggedInUser" class="lead">Hello, friend!</span>
                    <span *ngIf="userService.loggedInUser" class="lead">Hello, {{userService.loggedInUser.name}}!</span>
                    &nbsp;
                    <i routerLink="/view-cart" class="mouse-pointer lead bi bi-cart2"></i>
                    <sup class="text-danger" *ngIf="cartService.itemCount">
                        <!-- display the cart itemCount -->
                        {{ cartService.itemCount }}
                    </sup>
               </div>

               <div>
                    <button routerLink="/login" *ngIf="!userService.loggedInUser" class="btn btn-link">Login</button>
                    <button routerLink="/register" *ngIf="!userService.loggedInUser" class="btn btn-link">Register</button>

                    <button routerLink="/dashboard" *ngIf="userService.loggedInUser" class="btn btn-link">Dashboard</button>
                    <button (click)="userService.logout()" *ngIf="userService.loggedInUser" class="btn btn-link">Logout</button>
               </div>
            </div>
        </div>
    </div>
</div>